input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgb(235, 58, 155);
  background: transparent;
  padding: 10px 0;
  margin-bottom: 10px;
  font-size: 20px;

  transition: all 0.3s ease;
}

input:focus {
  outline: none;
  border-bottom-color: aquamarine;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.699);
}

.select-item {
  background: white;
  color: black;
}

.select-item.hightlighted {
  background: black;
  color: white;
}

.verb-list {
  list-style-type: none;
}
.verb-list li {
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 4px;
  border-bottom: 0;
  transition: all 0.3s ease;
}

.verb-list li:last-child {
  border-bottom: 1px solid #ccc;
}

.verb-list li:hover {
  background: aliceblue;
}

button[disabled] {
  opacity: 0.5;
  cursor: default;
}

.section {
  overflow: initial;
}

.primary-color.launchaco-builder-hoverable > div[class^="css"] {
  margin-bottom: 20px;
}

.primary-color.launchaco-builder-hoverable div[role="option"] {
  border-bottom: 1px solid rgba(175, 175, 175, 0.685);
  cursor: pointer;
  padding: 4px 0;

  transition: all 0.3s ease;
}

.primary-color.launchaco-builder-hoverable div[role="option"]:last-child {
  border-bottom: 0;
}

.primary-color.launchaco-builder-hoverable div[role="option"]:hover {
  background-color: rgba(0, 0, 0, 0.11);
}

.primary-color.launchaco-builder-hoverable div[role="option"]:active {
  background-color: rgba(0, 0, 0, 0.678);
  color: white;
}

.red-bg {
  background-color: rgb(216, 70, 70);
}
