.works {
  display: flex;
}

.works .panel {
  margin: 0 5%;
  border: 4px solid white;
  border-radius: 8px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: white;
}

.works .panel > img {
  width: 80px;
  height: 80px;
  margin: 10px 0;
}

.works .panel span {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}

.works .panel p {
  font-size: 15px;
  padding: 0 10px;
}

@media only screen and (max-width: 480px) {
  .works {
    flex-direction: column;
  }

  .works .panel {
    margin-bottom: 20px;
  }
}
